* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo", sans-serif;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

.bg-element2 {
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  animation: moveAnimation 3s ease infinite; /* Atur animasi sesuai kebutuhan */
  z-index: 1; /* Atur z-index agar elemen berada di atas elemen lain */
}

/* Style untuk keseluruhan konten */
.content1 {
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: auto; /* Mengizinkan scroll vertikal dan horizontal */
}

/* Style untuk container logo */
.logo-container2 {
  text-align: center;
  margin-bottom: 20px;
}

#logo-logo1 {
  padding-bottom: 0px;
}

/* Style untuk logo */
.logo-pt1 {
  height: 50px;
  width: 150px;
  margin-right: 80%;
  margin-top: 5%;
}

/* Style untuk grid project */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Jarak antar card */
  justify-content: center;
  margin-top: 2%;
}

/* Style untuk setiap card project */
.project-card {
  flex: 1 1 calc(25% - 20px); /* Mengatur ukuran card untuk tampilan non-responsif */
  max-width: calc(25% - 20px); /* Membatasi ukuran maksimal card */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Pastikan padding tidak membuat card terlalu besar */
}

/* Style untuk box dalam card */
.box2 {
  position: relative;
  width: 80%;
  height: 100%;
  transition: all 0.5s;
}

.box2:hover {
  transform: scale(1.15);
}

/* Style untuk konten dalam card */
.our-services-iconnn {
  margin-top: 70px;
  padding-bottom: 150px;
  padding: 0 40px;
  /* min-height: 120px; */
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
  opacity: 1;
  width: 120%;
  height: 65%;
}

.our-services-iconnn .icon2 {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services-iconnn:hover {
  background-color: #00c6ff;
  color: #dcdff0;
}

.our-services-iconnn:hover h4 {
  color: #dcdff0;
}

.gambar-img {
  width: 150px; /* Ukuran lebar ikon */
  height: 100px; /* Ukuran tinggi ikon */
  object-fit: cover; /* Pastikan gambar tidak terdistorsi */
  border-radius: 20px; /* Jika Anda ingin menambahkan border-radius */
}

.our-services-iconnn:hover {
  transform: scale(1.2);
  transform: translateZ(10px); /* Card terlihat seperti terangkat */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Tambahkan shadow saat hover */
}

/* Style untuk judul project */
.our-services-iconn h4 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Media Queries untuk layar berukuran kecil */
@media screen and (max-width: 768px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 90%;
    padding: 40px; /* Jarak yang sama di kiri kanan atas bawah */
    margin-right: 5%;
  }

  .box2:hover {
    width: 100%;
    height: 100%; /* Membuat card tetap persegi */
  }

  .our-services-iconnn {
    width: 90%; /* Card tetap lebar dan berada di tengah */
    height: 100%;
    margin: 0 auto; /* Memastikan card berada di tengah */
  }

  .icon2 {
    height: 80px; /* Sesuaikan tinggi ikon untuk layar kecil */
  }

  .gambar-img {
    width: 80px; /* Sesuaikan ukuran ikon untuk layar kecil */
    height: 80px; /* Sesuaikan tinggi ikon untuk layar kecil */
  }

  .logo-pt1 {
    margin-left: 55%;
  }
}

/* In Dashboard.css */
.dashboard-bg1 {
  margin-left: 15%;
  margin-right: 18%;
  width: 85%;
  margin-top: 3.5%;
  /* flex: 1; */
  overflow-y: auto; /* Ensure child elements scroll */
}

@media (max-width: 768px) {
  .dashboard-bg1 {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; /* Mengizinkan scroll vertikal */
  overflow-x: hidden; /* Menyembunyikan scrollbar horizontal */
}

/* Pastikan elemen teks dapat diseleksi dan disalin */
.copy-allowed {
  user-select: text; /* Memastikan teks bisa diseleksi */
  pointer-events: auto; /* Memastikan elemen dapat berinteraksi */
}

/* Jika ada overlay atau elemen lain yang mungkin menghalangi penyalinan, pastikan tidak ada aturan yang menghalangi */
.no-overlay {
  pointer-events: none; /* Memastikan overlay tidak memblokir interaksi */
}
