/* Reset dan gaya umum */
body {
  margin: 0;
  padding: 0;
  background-color: #260d6a; /* Warna ungu gelap */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Halaman utama */
.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #260d6a; /* Sama dengan warna body */
  color: white;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; /* Logo kiri, navbar kanan */
  align-items: center;
  padding: 10px 20px; /* Atur padding */
  background-color: #260d6a; /* Warna latar */
  /* border-bottom: 2px solid red; Garis bawah di bawah header */
}


/* Main Section */
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-grow: 1;
}

.intro-text {
  flex-basis: 50%;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.intro-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: orange;
  margin-bottom: 30px;
}

.btn-cta {
  display: inline-block;
  background-color: #ffc300;
  color: #1e0b54;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.btn-cta:hover {
  background-color: #ffd633;
  color: #000;
}

/* Gambar Produk */
.product-image {
  flex-basis: 40%;
  height: auto;
  max-width: 400px;
  background-color: transparent;
}

/* Responsif */
@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    text-align: center;
  }

  .intro-text {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .product-image {
    max-width: 300px;
  }

  /* Navbar */
  .navbar {
    display: flex;
    gap: 30px; /* Jarak antar link */
  }
  
  .nav-link {
    text-decoration: none; /* Hilangkan garis bawah */
    color: white; /* Warna teks putih */
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffd633; /* Warna hover kuning */
  }
}
