/* Listp.css */
.responsive-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

@media (max-width: 768px) {
  .responsive-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
}