/* Global Styles */
body {
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  position: absolute;
  top: 60px; /* Menyesuaikan dengan tinggi navbar */
  bottom: 0;
  left: 0;
  width: 240px;
  background-color: #f8f9fa;
  z-index: 1000; /* Pastikan z-index cukup tinggi */
  transition: transform 0.3s ease-in-out;
  transform: translateX(
    0
  ); /* Sidebar selalu terlihat pada tampilan non-responsif */
}

@media (max-width: 991px) {
  .sidebar {
    transform: translateX(
      -100%
    ); /* Sidebar tersembunyi pada tampilan responsif */
    z-index: 1050; /* Pastikan sidebar di atas elemen lain */
  }

  .sidebar.show {
    transform: translateX(0); /* Sidebar muncul ketika tombol bar diklik */
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(
    100vh - 60px
  ); /* Mengatur tinggi sidebar agar sesuai dengan tampilan layar */
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.logo {
  width: auto;
  max-width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Navbar */
.navbar {
  height: 60px;
  background: linear-gradient(-1.7deg, #00c6ff, #f2f2f2, #ffffff);
  z-index: 1050;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.dropdown-menu-left {
  left: 0;
  transform: translate(-70%, 0);
}

/* Style untuk dropdown menu */
.dropdown-menu {
  background-color: transparent;
  border: #00c6ff;
  transition: background-color 0.3s ease;
}

/* Warna latar belakang dropdown menu saat dibuka */
.dropdown-menu.show {
  background-color: #f2f2f2;
}

/* Style untuk item dropdown */
.dropdown-menu .dropdown-item {
  transition: background-color 0.5s ease;
}

/* Warna latar belakang item dropdown saat dihover */
.dropdown-menu .dropdown-item:hover {
  background-color: #00c6ff;
  color: white;
}

.hover-menu {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbar-toggler {
  background: #333;
  color: white;
  border: none;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .navbar-toggler {
    display: flex;
    align-items: center;
  }

  .navbar-toggler img {
    margin-right: 10px; /* Memberi jarak antara ikon bar dan logo */
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .sidebar.show {
    transform: translateX(0); /* Sidebar muncul ketika tombol bar diklik */
  }

  .rounded-circle {
    display: flex;
    align-items: center;
    width: auto;
    left: 10%;
    transform: translateY(-55%);
  }

  .navbar-nav {
    flex-direction: row;
    margin-left: auto;
  }

  .navbar .profile {
    margin-left: auto;
  }
}

/* Main Content */
.content {
  margin-top: 60px; /* Memberikan ruang untuk navbar */
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: margin-left 0.3s ease-in-out;
}

.content main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

/* Card Content */
.card {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card {
    margin-top: 20px;
  }
  .sidebar {
    width: 200px; /* Lebar sidebar pada tampilan responsif */
  }
}

.sidebar.shift {
  margin-left: 240px; /* Menggeser konten saat sidebar muncul */
}
