/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  width: 240px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.show {
  transform: translateX(0);
}

@media (max-width: 991px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 58px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.flex-grow-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  max-width: 150px;
  height: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 80%;
  height: auto;
  transform: scale(1.6) translateY(5%);
  margin-left: 10%;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
  background: rgb(0, 0, 0);
  background: linear-gradient(-1.7deg, #00c6ff, #f2f2f2, #ffffff);
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.dropdown-menu-left {
  left: 0;
  transform: translate(-70%, 0);
}

.hover-menu {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between; /* Mengatur jarak antar elemen di dalam navbar */
    align-items: center;
    padding: 10px 15px;
  }

  .logo {
    max-width: 120px;
    margin: 0; /* Menghapus margin untuk logo */
    order: 1; /* Menempatkan logo di urutan pertama */
  }

  .navbar-toggler {
    margin: 0; /* Menghapus margin untuk navbar-toggler */
    order: 2; /* Menempatkan tombol navbar-toggler di urutan kedua */
  }

  .collapse {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    margin-left: auto;
  }

  .navbar-nav li {
    margin-bottom: 10px;
  }

  .navbar .profile {
    order: 3;
    margin-left: auto;
  }

  .content {
    margin-top: 60px;
    padding: 20px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  .container-fluid {
    position: relative;
    transform: translateY(-33%);
  }
}

/* Main Content */
.content {
  margin-top: 60px;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

.content main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

/* Card Content */
.card {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card {
    margin-top: 20px;
  }
}
