/* Create.css */

/* Ensure the card takes full width and has appropriate margins */
.card {
    width: 100%;
    max-width: 800px; /* Set a max-width to avoid too wide cards on large screens */
    margin: 0 auto; /* Center the card horizontally */
  }
  
  /* Style adjustments for form controls */
  .custom-input {
    font-size: 0.875rem; /* Adjust font size for better readability */
  }
  
  .button {
    height: 35px;
    width: 5%; /* Set the width to a consistent size */
  }
  
  /* Ensure the form and button layout adjust on small screens */
  /* Media query untuk layar dengan lebar maksimum 768px */
  @media (max-width: 768px) {
    .button-container {
      display: flex;
      flex-direction: row; /* Atur tombol berdampingan */
      gap: 10px; /* Tambahkan jarak antara tombol */
      justify-content: space-between; /* Atur jarak tombol */
    }
  
    /* Adjust button size for smaller screens */
    .button {
      height: 35px;
      width: 16%; /* Ubah ukuran tombol menjadi persentase untuk responsif */
    }
  
    section {
      padding-right: 5%;
    }
  }
  
  .container2 {
    margin-left: 15%;
    margin-right: 18%;
    width: 85%;
    margin-top: 3.5%;
  }
  